html, body {
    margin: 0;
}

header {
    color: white;
    background-color: chocolate;
    font-family: 'Segoe UI', Tahoma;
    text-align: center;
    padding: 0.5rem;
}

#carouselExampleIndicators {
    width: 60%;
    margin: 1rem auto;
}

.formRedux {
    width: 50%;
    margin: 1rem auto;
}

form {
    margin: 1rem auto;
}

.figura01 {
    display: block;
    text-align: center;
    width: 30rem;
    margin: 0.5rem auto;
}

.card-columns {
    margin: 0.5rem auto;
}

.card-deck {
    margin: 0.5rem auto;
}

main {
    display: flex;
    width: 100%;
}

.desenvolvedor {
    width: 28rem;
}

table {
    margin-top: 0.3rem;
}
td {
    width: 50%;
}
.footer {
    text-align: center;
    padding: 1% 0% 1.7% !important;
    color: #999;
    background-color: #1f1f1f;
}
.footer-company-name a:hover{
	color: #cccccc;
}
.footer-data-person{
    margin-left: calc(100% - 65%);
}
.footer-data-person > td{
   padding-left: 12px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20%);
    }
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10%);
    }
  }
  .instagram:hover{
    animation: bounce 1s;
  }
  .linkedin:hover{
    animation: bounce 1s;
  }
  .github:hover{
    animation: bounce 1s;
  }